version: "3"

services:
  mongo:
    image: mongo:7
    restart: always
    volumes:
      - mongo_data:/data/db

  kowloon:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - /var/lib/kowloon/uploads:/var/lib/kowloon/uploads
    depends_on:
      - mongo

volumes:
  mongo_data:
